<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
       
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
      <div class="card"  style="padding:10%">
        <div style="text-align: center"><img src="../../../assets/admin.png" height="50%" width="50%"></div>
        <h2>Fundoo Login</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="adminEmail"
            placeholder="abc@example.com" style="background-color: rgb(236, 236, 238) ;border: none" 
            required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="adminPassword" placeholder="********" 
            style="background-color: rgb(236, 236, 238) ;border: none" 
            required>
          </div>
          <button type="submit" class="btn btn-primary" id="button">Login</button>
        </form>
        <p></p>
        <i><h5 style="color:rgb(185, 56, 56)"></h5></i>
      </div>
    </div> 

    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
  </div>
</div>