<div class="container-fluid">
        <div class="row" style="background-color: #fb0">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="text-align: center">
                    <span style="font-size: 200%">ADMIN</span>
                    
                </div>
                
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: end">
                    <span><button type="button" class="btn btn-primary" id="button"><h4>logout</h4></button></span>
            </div>
        </div>
    </div>
<nav class="navbar navbar-light" style="background-color: #fb0 "  >
                    
              
</nav>
<div class="row">
<div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <div id="services" class="row" style="text-align:center"></div>
</div>

<div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
</div>

<div class="row"  style="margin-top: 1%">
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
<table id="example"  style="width:100%">
        <thead>
            <tr style="text-align: center">
                <th style="background-color:rgb(142, 231, 205)" scope="col">Num</th>
                <th style="background-color:rgb(84, 179, 150)" scope="col">First name</th>
                <th style="background-color:rgb(142, 231, 205)" scope="col">Last name</th>
                <th style="background-color:rgb(84, 179, 150)" scope="col">Email</th>
                <th style="background-color:rgb(142, 231, 205)" scope="col">Phone Num</th>
            </tr>
        </thead>
    </table>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div></div>